.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
sources/*
data/*
test_*
/.quarto/
*.Rproj
Backlog*
.vscode*
**/*.quarto_ipynb
*.md
!README.md
treatment_assignation_fire/02a_indicator_computation_cell.qmd