.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
sources/*
data/*
!data/dynamic_wdpa.gpkg
!data/dynamic_wdpa.rds
!data/dynamic_wdpa.parquet
!data/amendments/
!data/amendments/**
/.quarto/
*.Rproj
Backlog*
.vscode*
**/*.quarto_ipynb
*.md
!README.md
paper/figures/paper_figures.R
paper/drafts/data_paper_scidata_02*
paper/journal/*
treatment_assignation_fire/
